services:
  client:
    build:
      context: ./client
      args:
        BASE_REGISTRY: mirror.gcr.io
        BASE_IMAGE: library/node:18-alpine
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - server

  server:
    build:
      context: ./server
      args:
        BASE_REGISTRY: mirror.gcr.io
        BASE_IMAGE: library/node:18-alpine
    ports:
      - "5001:5000"
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - ./server/.env