services:
  # === Backend API ===
  - type: web
    name: server
    env: docker
    region: singapore             # pick closest to you
    dockerfilePath: ./server/Dockerfile
    autoDeploy: true
    healthCheckPath: /health
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: APP_BASE_URL
        value: "https://backend-joseph-menteasetest.onrender.com"
      - key: EMAIL_NOTIFICATIONS_DISABLED
        value: "false"
      - key: SMTP_HOST
        value: smtp.gmail.com
      - key: SMTP_PORT
        value: "587"
      - key: SMTP_SECURE
        value: "false"
      - key: SMTP_USER
        value: "menteaseph@gmail.com"
      - key: SMTP_PASS
        value: "idekncbzbkcadqse"
      - key: SMTP_FROM
        value: "MentEase <menteaseph@gmail.com>"

  # === Frontend (static build) ===
  - type: web
    name: client
    env: docker
    region: singapore
    dockerfilePath: ./client/Dockerfile
    autoDeploy: true
    envVars:
      - key: REACT_APP_API_URL
        value: "https://backend-joseph-menteasetest.onrender.com"
      - key: REACT_APP_GOOGLE_CLIENT_ID
        value: "1018026089892-2a9bcionfg3gsk57upcfd3nll8onvrog.apps.googleusercontent.com"
